<h1> <%= @user.username %></h1>

<div class="card">
  <div class="card-body">
<% if @user.ratings.empty? %>
 wine has not yet been rated!
<% else %>
  <p><%= @user.average_rating %></p>
  <p> Favorite wine:<%= @user.favorite_wine%></p>
  <p> Favorite wine style:<%= @user.favorite_wine_style %></p>
  <p> Favorite wineyard:<%= @user.favorite_wineyard %></p>
  <% end %>
</div>
</div>

 <p>
  <% if @user.wine_clubs.any? %>
    <h3> member of wine clubs</h3>
 <% @user.wine_clubs.each do |club| %>
  <li> <%= link_to club.name, club %> </li>
  <% end %>
<% end %>
</p>


<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> 
<%= link_to 'Back', users_path %>

 <h2>ratings</h2>
<ul>
 <% @user.ratings.each do |rating| %>
    <li> <%= rating %>
    <% if @user == current_user %>
    <%= link_to 'delete', rating, method: :delete , data: { confirm: 'Are you sure?' } %>
  <% end %>
    </li>
 <% end %>
</ul>





