<%= form_with(model: wineyard, local: true) do |form| %>
  <% if wineyard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wineyard.errors.count, "error") %> prohibited this wineyard from being saved:</h2>

      <ul>
      <% wineyard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>


  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
