<h1>Wineyards</h1>
<h2>Active</h2>
<p> Number of active wineyards: <%= @active_wineyards.count %> </p>

<%= render 'list', wineyards: @active_wineyards %>

<h2>Retired</h2>
<p> Number of retired wineyards: <%= @retired_wineyards.count %> </p>

<%= render 'list', wineyards: @retired_wineyards %>
 

<br>
<%= link_to('New Wineyard', new_wineyard_path, class:'btn btn-primary') if current_user %>
<br>
<br>

