<h2>
  <%= @wineyard.name %>
  <% if not @wineyard.active  %>
    <span class="badge badge-info">retired</span>
  <% end %>
</h2>
<p><i>
  Established at <%= @wineyard.year %>
</i></p>

<p> Number of wines: <%= @wineyard.wines.count %> </p>

<ul>
 <% @wineyard.wines.each do |wine| %>	
  <li><%= link_to wine.name, wine %></li>
 <% end %>
</ul>

<% if @wineyard.ratings.empty? %>
 No ratings yet!
<% else %>
<p>Has <%= pluralize(@wineyard.ratings.count, 'rating') %>, average <%=round(@wineyard.average_rating) %></p>
 <%# <p><%= @wineyard.average_rating %>
<% end %>
<br>
<% if current_user %>
<%= link_to "change activity", toggle_activity_wineyard_path(@wineyard.id), method: :post, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_wineyard_path(@wineyard), class:"btn btn-primary"%> 
<% if current_user.admin %>
<%= link_to 'Destroy', @wineyrd, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %>
<% end %>
<% end %>
<%= link_to 'Back', wineyards_path %>
 
    