<p id="notice"><%= notice %></p>

<h1>Wine Clubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wine_clubs.each do |wine_club| %>
      <tr>
        <td><%= wine_club.name %></td>
        <td><%= wine_club.founded %></td>
        <td><%= wine_club.city %></td>
        <td><%= link_to 'Show', wine_club %></td>
        <td><%= link_to 'Edit', edit_wine_club_path(wine_club) %></td>
        <td><%= link_to 'Destroy', wine_club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine Club', new_wine_club_path %>
