<p id="notice"><%= notice %></p>

<h1><%= @wine_club.name %></h1>

<p>
  <strong>Founded:</strong>
  <%= @wine_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @wine_club.city %>
</p>

<%= link_to 'Edit', edit_wine_club_path(@wine_club) %> |
<%= link_to 'Back', wine_clubs_path %>

<ul>
  <h2>Members</h2>
  <% @wine_club.membership.each do|member| %> 
  <li><%= link_to member.user, member%></li>
  <% end %>
</ul>



    
