<p id="notice"><%= notice %></p>

<h1><%= @wine_club.name %></h1>

<p>
  <strong>Founded:</strong>
  <%= @wine_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @wine_club.city %>
</p>
<% if not current_user.nil? %>
  <%= link_to 'Edit', edit_wine_club_path(@wine_club) %> |
  <%= link_to 'Destroy', @wine_club, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', wine_clubs_path %>

<ul>
  <h2>Members</h2>
  <% @wine_club.membership.each do|member| %> 
  <li><%= link_to member.user.username, member%></li>
  <% end %>
</ul>

<br>
<% if current_user %>
 <%# <% if not @wine_club.is_member?(current_user) %> 
  <h4>Join the club:</h4>

<%= form_for(@membership) do |f| %>
 <%= f.hidden_field :wine_club_id %>
 <%= f.submit value:"join the club" %>
<% end %>
  <% end %>

