<h1><%= @wine_club.name %></h1>

<p>
  <strong>Founded:</strong>
  <%= @wine_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @wine_club.city %>
</p>
<% if not current_user.nil? %>
   <p>
  <%= link_to 'Edit', edit_wine_club_path(@wine_club) %> 
   <% if current_user.admin %>|
  <%= link_to 'Destroy', @wine_club, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<% end %>
<%= link_to 'Back', wine_clubs_path %>
 </p>

<h2>Members</h2>
<ul>
  <% @wine_club.membership.each do|member| %> 
  <li><%= link_to member.user.username, member%></li>
  <% end %>
</ul>

<br>
<% if current_user %>
 <% if Membership.where(:user => current_user, :wine_club => @wine_club).count == 0 %>
 
<h4>Join the club:</h4>
<%= form_for(@membership) do |f| %>
 <%= f.hidden_field :wine_club_id %>
 <%= f.submit value:"join the club", class:'btn btn-primary'%>
<% end %>

<% else %>
 <h4>Delete membership:</h4>
  <%= form_for(@membership, method: "delete") do |f| %>
  <%= f.hidden_field :wine_club_id %>
  <%= f.submit value: "end the membership", class:'btn btn-danger', data: { confirm: 'Are you sure?'}  %>
<% end %>
<% end %>
<% end %>
