<h1><%= @wine_club.name %></h1>

<p>
  <strong>Founded:</strong>
  <%= @wine_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @wine_club.city %>
</p>
<% if not current_user.nil? %>
   <p>
  <%= link_to 'Edit', edit_wine_club_path(@wine_club) %> 
   <% if current_user.admin %>|
  <%= link_to 'Destroy', @wine_club, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<% end %>
<%= link_to 'Back', wine_clubs_path %>
 </p>

<h2>Members</h2>
<ul>

  <% @wine_club.membership.each do|member| %> 
    <% if member.confirm == true %>
  <li><%= link_to member.user.username, member%></li>
  <% end %>
    <% end %>
</ul>

<br>
<% if current_user %>
 <% if Membership.where(:user => current_user, :wine_club => @wine_club).count == 0 %>
 
<h4>Join the club:</h4>
<%= form_for(@membership) do |f| %>
 <%= f.hidden_field :wine_club_id %>
 <%= f.submit value:"join the club", class:'btn btn-primary'%>
<% end %>

<% else %>
 <h4>Delete membership:</h4>
  <%= form_for(@membership, method: "delete") do |f| %>
  <%= f.hidden_field :wine_club_id %>
  <%= f.submit value: "end the membership", class:'btn btn-danger', data: { confirm: 'Are you sure?'}  %>
<% end %>
<% end %>
<br>

  <h2>Outstanding applications</h2>
  <% @waitlist_membership.each do|member| %> 
   <% if member.user_id != current_user.id %>   <%#  lista näytetään  vain seuran jäsenille. %>
   <%#  on jäsen ko. seurassa mutta on vielä waitlistalla vahvistamattomana. %>
  <% if member.wine_club_id == @wine_club.id %>
  <li>
    <%= link_to member.user.username, member%>
    <%= link_to "confirm", toggle_memberstatus_wine_club_path(member.id), method: :post, class: "btn btn-primary" %> 
  <% end %>
  <% end %>
 </li>
<% end %>

</ul>

<% end %>
