<p id="notice"><%= notice %></p>

<p>
  <h1><%= @wine_club.name %></h1>

</p>

<p>
  <strong>Founded:</strong>
  <%= @wine_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @wine_club.city %>
</p>

<%= link_to 'Edit', edit_wine_club_path(@wine_club) %> |
<%= link_to 'Back', wine_clubs_path %>

  <h2>members</h2>
  <% if @wine_club.membership_ids.empty? %> 
  <%# EI TOIMI......nyt n채ytt채채 memerhip id:n pit채isi hake membership.user.name %>
   club has not members yet!
  <% else %>
    <p><%= @wine_club.membership_ids %></p>
  <% end %>




    
