<p id="notice"><%= notice %></p>

<h2>
  <%= @wine.name %>
</h2>

<p>
  <strong>Style:</strong>
  <%= @wine.style %>
</p>

<p>
  <strong>Wineyard:</strong>
  <%= @wine.wineyard_id %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
