<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
 <%= @wine.name %>
</h2>

<p>
  <strong>Style:</strong>
  <%= @wine.style %>
</p>

<p>
  <strong>Wineyard:</strong>
  <%= @wine.wineyard.name %>
</p>

<% if @wine.ratings.empty? %>
 wine has not yet been rated!
<% else %>
 <p> <%= @wine %> </p>
<% end %>

<br>


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
