
<h2>
 <%= @wine.name %>
</h2>

<p>
  <strong>Style:</strong>
  <%= @wine.style.name %>
</p>

<p>
  <strong>Wineyard:</strong>
  <%= @wine.wineyard.name %>
</p>

<% if @wine.ratings.empty? %>
 wine has not yet been rated!
<% else %>
 <p><%= @wine.average_rating %></p>
<% end %>

<br>
<div class="card">
<div class="card-body">
<% if current_user %>
  <h4>give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :wine_id %>
    score: <%= f.number_field :score %>
    <%= f.submit class:"btn btn-primary"%>
  <% end %>
</div>
</div>
<br>
<br>

<%= link_to 'Edit', edit_wine_path(@wine),class:'btn btn-primary' %> 
<%= link_to 'Destroy', @wine, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', wines_path, class:'btn btn-primary' %>
<% end %>
<br>