
<h2>
 <%= @wine.name %>
</h2>

<p>
  <strong>Style:</strong>
  <%= @wine.style.name %>
</p>

<p>
  <strong>Wineyard:</strong>
  <%= @wine.wineyard.name %>
</p>

<% if @wine.ratings.empty? %>
 wine has not yet been rated!
<% else %>
<p>Has <%= pluralize(@wine.ratings.count, 'rating') %>, average <%= round(@wine.average_rating) %></p>
 <%# <p><%= @wine.average_rating %>
<% end %>

<br>
<div class="card">
<div class="card-body">
<% if current_user %>
  <h4>give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :wine_id %>
    score: <%= f.number_field :score %>
    <%= f.submit class:"btn btn-primary"%>
  <% end %>
</div>
</div>
<br>
<br>

<%= edit_and_destroy_buttons(@wine) %>
<% end %>
<br>