<p id="notice"><%= notice %></p>
<h1>Beer places search</h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<h3>places to get your wine</h3>
<% if @places %>
  <table>
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
              <% if field == :name %>
                <td><%= link_to place.send(field), place_path(place.id) %></td>
              <% else %>
                <td><%= place.send(field) %></td>
              <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>the current wine weather in Helsinki</h3>

<% if @weathers%>
    <table>
    <thead>
      <% Weather.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @weathers.each do |weather| %>
      <tr>
        <% Weather.rendered_fields.each do |field| %>
          <td><%= weather.send(field) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

