<!DOCTYPE html>
<html>
  <head>
    <title>Ratewine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <div class="navibar">
    <%= link_to 'wineyards', wineyards_path %>
    <%= link_to 'wines', wines_path %>
    <%= link_to 'ratings', ratings_path %>
  </div>

  <% if not session[:user_id].nil? %>
    <p><%= User.find(session[:user_id]).username %> signed in</p>
  <% end %>

    <%= yield %>
  </body>
</html>
